<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Time.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,196},{118,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,47}}</string>
                <key>sourceSize</key>
                <string>{118,47}</string>
            </dict>
            <key>bloodline_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,450},{386,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,44}}</string>
                <key>sourceSize</key>
                <string>{386,44}</string>
            </dict>
            <key>bloodline_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,316},{350,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,19}}</string>
                <key>sourceSize</key>
                <string>{350,19}</string>
            </dict>
            <key>bloodline_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,337},{350,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,18}}</string>
                <key>sourceSize</key>
                <string>{350,18}</string>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,2},{51,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,29}}</string>
                <key>sourceSize</key>
                <string>{51,29}</string>
            </dict>
            <key>btn_jineng_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,347},{115,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,39}}</string>
                <key>sourceSize</key>
                <string>{115,39}</string>
            </dict>
            <key>btn_jineng_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,296},{115,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,49}}</string>
                <key>sourceSize</key>
                <string>{115,49}</string>
            </dict>
            <key>btn_renwu_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,309},{115,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,39}}</string>
                <key>sourceSize</key>
                <string>{115,39}</string>
            </dict>
            <key>btn_renwu_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,245},{115,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,49}}</string>
                <key>sourceSize</key>
                <string>{115,49}</string>
            </dict>
            <key>btn_up_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,80},{195,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,76}}</string>
                <key>sourceSize</key>
                <string>{195,76}</string>
            </dict>
            <key>btn_up_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{195,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,76}}</string>
                <key>sourceSize</key>
                <string>{195,76}</string>
            </dict>
            <key>coin_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,158},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>coin_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,33},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{767,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{767,88}}</string>
                <key>sourceSize</key>
                <string>{767,88}</string>
            </dict>
            <key>frame_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{762,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{762,58}}</string>
                <key>sourceSize</key>
                <string>{762,58}</string>
            </dict>
            <key>icon_jineng_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,350},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>icon_jineng_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,350},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>icon_jineng_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,350},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>icon_jineng_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>jinenglan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,162}}</string>
                <key>sourceSize</key>
                <string>{768,162}</string>
            </dict>
            <key>list_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,33},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>list_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,67},{31,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,137}}</string>
                <key>sourceSize</key>
                <string>{31,137}</string>
            </dict>
            <key>process_jineng.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,206},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>qicao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{308,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,53}}</string>
                <key>sourceSize</key>
                <string>{308,53}</string>
            </dict>
            <key>qicao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,218},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>qicao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,196},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>qicao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,184},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>qicao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,177},{154,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,17}}</string>
                <key>sourceSize</key>
                <string>{154,17}</string>
            </dict>
            <key>qicao6.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,158},{154,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,17}}</string>
                <key>sourceSize</key>
                <string>{154,17}</string>
            </dict>
            <key>qicao7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{292,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,16}}</string>
                <key>sourceSize</key>
                <string>{292,16}</string>
            </dict>
            <key>touming.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,52},{1,1}}</string>
                <key>offset</key>
                <string>{-49.5,49.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f7184c0f6599b2157f1ab3d75418bc4:1/1$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
