<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wudi.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{319,594}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,594}}</string>
                <key>sourceSize</key>
                <string>{319,594}</string>
            </dict>
            <key>zuikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{324,626}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,626}}</string>
                <key>sourceSize</key>
                <string>{324,626}</string>
            </dict>
            <key>zuiqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{334,631}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,631}}</string>
                <key>sourceSize</key>
                <string>{334,631}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>checkout.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cecae049b3658bcacecb0231746c59d:1/1$</string>
            <key>textureFileName</key>
            <string>checkout.png</string>
        </dict>
    </dict>
</plist>
